{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'style.css' %}" />

</head>
<body>

    <div class="flex-container">
        <div class="base1">
            <div class="ticker-in style1">
                Input a ticker:
            </div>
            <div class="checkbox style1"></div>
            <div class="checkbox style1"></div>
            <div class="prediction style1"></div>
        </div>
        <div class="base2">2</div>
        <div class="base3">3</div>
    </div>

</body>
</html>