{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Portfol.io</title>
        
        <link rel="stylesheet" href="{% static 'style.css' %}" />
    </head>
    <body>
        <form action="/" method="post">
            {% csrf_token %}
            <div class="form_flex base1">
                {{ form.non_field_errors }}
                <!-- TICKER BOX -->
                <label for="tickerdiv" class="labelstyle">Input Ticker</label>
                <div class="form_flex ticker-in style1" id="tickerdiv">
                    {{ form.ticker.errors }}
                    {{ form.ticker }}
                    <input id="id_submit" class="inputstyle" type="submit" value="Generate" style="width:25%;">
                </div>
                <!-- HISTORICAL CHECKBOXES -->
                <label for="histcheckbox" class="labelstyle">Historical Timeframe</label>
                <div class="checkbox style1" id="histcheckbox">
                    {{ form.hist.errors }}
                    {{ form.hist }}
                </div>
                <!-- FUTURE CHECKBOXES -->
                <label for="futurecheckbox" class="labelstyle">Future Timeframe</label>
                <div class="checkbox style1" id="futurecheckbox">
                    {{ form.future.errors }}
                    {{ form.future }}
                </div>
                <!-- PREDICTION BOX -->
                <label for="predictiondiv" class="labelstyle">Recommendation</label>
                <div class="prediction style1" id="predictiondiv">
                    <div style="position:relative;top:25%;font-size: 48pt;">
                        {{ rec }}
                    </div>
                </div>
            </div>
        </form>
        <div class="base2" id="graphdiv">
            <!-- <h2>Historical Timeframe: {{ hist }}</h2>
            <h2>Future Timeframe: {{ future }}</h2> -->
            {% if graph_img %}
                <img src="{% static graph_img %}" width="100%" height="100%" style="border-radius: 5px;">
                <div class="imagelabel">Prediction confidence: {{ pred_conf }}%</div>
            {% else %}
            <div style="text-align: center;">
                <h1>Welcome to Portfol.io!</h1>
                <p>Enter a stock ticker to begin</p>
            </div>
            {% endif %}
        </div>
        <div class="base3" id="statsdiv">
            <label for="grid" class="labelstyle" style="display:block;text-align:center;">Current Day Statistics</label>
            <div class="grid">    
                <div class="grid-element">Open: {{ open }}</div>
                <div class="grid-element">High: {{ high }}</div>
                <div class="grid-element">Low: {{ low }}</div>
                <div class="grid-element">Current Price: {{ cur_price }}</div>
                <div class="grid-element">Market Cap: {{ mkt_cap }}</div>
                <div class="grid-element">P/E Ratio: {{ pe_rat }}</div>
                <div class="grid-element">Dividend: {{ div_yield }}</div>
                <div class="grid-element">52-Week High: {{ 52h }}</div>
                <div class="grid-element">52-Week Low: {{ 52l }}</div>
            </div>
        </div>
    </body>
</html>