html {
    font-size: 16pt;
    font-family: 'Times New Roman', Times, serif;

}

body {
    background-color: #576b41;
}

.form_flex {
    display: flex;
    flex-flow: column nowrap; 
    align-items: center;
    justify-content: space-around;

}

.base1 {
    position: absolute;
    margin: .05% .05% .05% .05%;
    
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;

    width:25%;
    height:97%;
    background-color: white;
}

.base2 {
    position: absolute;
    margin: .05% .05% .05% .05%;
    left: 26%;
    
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
    
    width:73%;
    height:60%;
    background-color: white;
}

.base3 {
    position: absolute;
    margin: .05% .05% .05% .05%;
    left:26%;
    top:62%;
    
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
    width:73%;
    height:36%;
    background-color: white;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10%;
    padding-top: 2%;
}

.grid-element {
    text-align: center;
    padding: 2px;
}



.ticker-in {
    position: relative;
    width: 95%;
    height: 10%;
}

.checkbox {
    position: relative;
    width: 95%;
    
}

.prediction {
    position: relative;
    width: 95%;
    height: 25%;
}

.style1 {
    margin: 1% 3% 3% 3%;
    background-color: #576b41;
    border-radius: 5px;
}

.labelstyle{
    position: relative;
    font-size: 20pt;
    text-decoration: underline;
}

.imagelabel{
    position: absolute;
    top: 2%;
    right: 2%;
    border: 2px solid black;
}

.inputstyle {
    position: relative;
}
